/* Browser Reset */
* {
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.5em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* Header Styles */

header > * {
  outline: 1px solid black;
}

header {
  background: #3acec2;
  padding: 1.5em 0;
  margin-bottom: 1.875em;
  text-align: center;
}

header .wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header h1 a,
nav a {
  color: white;
}

nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: space-between;
}

nav > div {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.5em;
  border-bottom: 0.5em;
}

/* Main Content Styles*/
main {
  padding: 1em;
}
/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  color: white;
  font-size: 1.5em;
  text-align: left;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
}

/* Colours for each box */
.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  border: white;
}

.box {
  flex-basis: auto;
  flex: 2 0 0;
}
.box2 {
  flex: 1 0 0;
}
/* Footer Styles */
footer {
  text-align: left;
  background: #d9e4ea;
  padding: 2em 1em;
}
/* Exact width */
@media (min-width: 700px) {
}
